<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Concierge Demo | <%= conciergeMeta.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> 
  <style>
    *, *:before, *:after { box-sizing: border-box; }

    :root {
      --color-highlight: #D82061;
      --color-background: #1C1C1C;
      --content-width: 858px;
      --headline-font: "InfoText", "Asap", sans-serif;
    }

    a {
      color: currentColor;
      text-decoration: none;
      font-family: var(--headline-font);
      font-weight: 400;
      opacity: 0.5;
    }

    a:hover {
      opacity: 1;
    }

    main {
      padding-top: 76px;
    }

    p {
      max-width: var(--content-width);
      margin: 0 auto;
    }

    body {
      margin: 0;
      color: #fff;
      background-color: var(--color-background);
      font-family: "Josefin Sans", "Futura", sans-serif;
      font-weight: 400;
      font-size: 21px;
      line-height: 1.3;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0 auto;
      font-weight: 700;
      font-family: var(--headline-font);
      max-width: var(--content-width);
    }

    .is-active {
      opacity: 1;
    }

    .top-bar {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 76px;
      align-items: center; 
      position: fixed;
      background-color: var(--color-background);
      z-index: 1;
    }

    .page-title {
      display: inline-block;
    }

    .top-bar__wrapper {
      width: var(--content-width);
      margin: 0 auto;
      display: flex;
      max-width: 100%;
    }
    .navigation {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }

    .navigation__list {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .navigation__entry {
      display: inline-block;
      margin-left: 25px;
    }
    article {
      margin: 110px 0;
    }

    .article-head {
      color: var(--color-highlight);
      font-family: var(--headline-font);
      display: flex;
      font-size: 16px;
      width: 100%;
      max-width: var(--content-width);
      margin: 0 auto;
    }

    .tags {
      display: flex;
    }

    .tags:before {
      content: '\00a0|';
    }

    .tag:before {
      content: '\00a0#';
    }

    h1 {
      font-size: 98px;
      width: 100%;
      max-width: var(--content-width);
      margin: 0 auto;
    }

    blockquote {
      width: 100%;
      max-width: var(--content-width);
      border-left: 7px solid var(--color-highlight);
      padding-left: 30px;
      margin: 1.75em auto;
      padding-right: 200px;
      font-size: 16px;
      line-height: 1.75;
    }

    article img {
      max-width: 1170px;
      width: 100%;
      height: auto;
      display: block;
    }

    .card {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0.3em auto 1em;
      left: 50%;
      transform: translateX(-50%);
    }

    .gradient-overlay {
      display: block;
      filter: contrast(85%);
      mix-blend-mode: color;
      background-image: linear-gradient(45deg, var(--color1) 0%, var(--color2) 100%);
      position: absolute;
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <header class="top-bar">
    <div class="top-bar__wrapper">
      <a class="page-title" href="index.html">Demo</a>
      <nav class="navigation">
        <% if (conciergeCollections.navigation) { %>
          <ul class="navigation__list">
            <%for (entry of conciergeCollections.navigation) { %>
              <li class="navigation__entry"><a href="<%= entry.path %>"<% if (entry.name === conciergeMeta.title) {%> class="is-active"<% } %>><%= entry.name %></a></li>
            <% } %>
          </ul>
        <% } %>
      </nav>
    </div>
  </header>
  <main>
    <article>
      <header class="article-head">
        <time class="article-date" datetime="01-05-2018">05.01.2018</time>
        <% if (conciergeMeta.tags) { %>
          <ul class="tags">
            <% for (tag of conciergeMeta.tags) { %>
              <% if (tag !== 'navigation') { %>
                <li class="tag"><%= tag %></li>
              <% } %>
            <% } %>
          </ul>
        <% } %>
      </header>
      <%- contents %>
    </article>
  </main>
</body>
</html>