<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Concierge Demo | <%= conciergeMeta.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> 
  <style>
    *, *:before, *:after { box-sizing: border-box; }

    :root {
      --color-highlight: #D82061;
      --color-background: #1C1C1C;
      --content-width: 858px;
      --headline-font: "InfoText", "Asap", sans-serif;
    }

    a {
      color: currentColor;
      text-decoration: none;
      font-family: var(--headline-font);
      font-weight: 400;
      opacity: 0.5;
    }

    a:hover {
      opacity: 1;
    }

    main {
      padding-top: 76px;
    }

    p {
      max-width: var(--content-width);
      margin: 0 auto;
    }

    body {
      margin: 0;
      color: #fff;
      background-color: var(--color-background);
      font-family: "Josefin Sans", "Futura", sans-serif;
      font-weight: 400;
      font-size: 21px;
      line-height: 1.3;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    h1, h2 {
      margin: 0;
      font-weight: 700;
      font-family: var(--headline-font);
    }

    .is-active {
      opacity: 1;
    }

    .top-bar {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 76px;
      align-items: center; 
      position: fixed;
      background-color: var(--color-background);
      z-index: 1;
    }

    .page-title {
      display: inline-block;
    }

    .top-bar__wrapper {
      width: var(--content-width);
      margin: 0 auto;
      display: flex;
      max-width: 100%;
    }
    .navigation {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }

    .navigation__list {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .navigation__entry {
      display: inline-block;
      margin-left: 25px;
    }
    h1 {
      font-size: 444px;
      letter-spacing: -12.24px;
      display: flex;
      justify-content: center;
      overflow: hidden;
    }

    h2 {
      font-family: var(--headline-font);
      color: var(--color-highlight);
      max-width: 858px;
      margin: 0 auto;
    }

    h1 + h2 {
      margin-top: -120px;
    }

    h1 + h2 + p {
      margin-top: 50px;
    }
  </style>
</head>

<body>
  <header class="top-bar">
    <div class="top-bar__wrapper">
      <a class="page-title is-active" href="index.html">Demo</a>
      <nav class="navigation">
        <% if (conciergeCollections.navigation) { %>
          <ul class="navigation__list">
            <%for (entry of conciergeCollections.navigation) { %>
              <li class="navigation__entry"><a href="<%= entry.path %>"<% if (entry.name === conciergeMeta.title) { %> class="is-active"<% } %>><%= entry.name %></a></li>
            <% } %>
          </ul>
        <% } %>
      </nav>
    </div>
  </header>
  <main>
    <%- contents %>
  </main>
</body>
</html>